body {
    margin: 0;
    font-family: Arial;
    overflow-x: hidden;
    height: 100vh;
}

header {
    background-color: #363940;
    padding: 16px 0px;
}

.topInfoField {
    color: white;
    font-weight: bold;
}

.topInfoValue {
    color: #4cbcad;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #363940;
    padding: 8px 0px;
    align-items: center;
    height: 5%;
}

nav a {
    text-decoration: none;
    padding: 0px 16px;
    color: #363940;
    cursor: pointer;
}

nav .active-route {
    color: #3ec1b0;
}

#routesContainer {
    margin-right: 15%;
}

#logo {
    margin-left: 15%;
    height: 100%;
}

footer {
    padding: 16px;
    border-top: 2px solid #363940;
    background-color: #363940;
    overflow-x: hidden;
}

footer table {
    margin: auto;
}

footer th {
    font-size: 24px;
    color: #4cbcad;
    padding-bottom: 32px;
}

footer td {
    font-size: 20px;
    color: white;
    padding: 0px 45px 8px 45px;
}
